*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  --color-primary-light-2: #e7f5ff;
  --color-primary-light: #74c0fc;
  --color-primary: #339af0;
  --color-primary-dark: #1c7ed6;
  --color-grey-light-2: #f1f3f5;
  --color-grey-light: #e9ecef;
  --color-grey-dark: #ced4da;
  --color-grey-dark-2: #343a40;
  --color-grey-dark-3: #495057;
  --color-grey-dark-4: #868e96;
  --color-grey-dark-5: #dee2e6; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  min-height: 100vh;
  padding: 7rem 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
  background-color: #f8f9fa; }

.dictionary {
  max-width: 980px;
  padding: 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
  color: var(--color-grey-dark-3);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.13);
  overflow: hidden; }
  @media screen and (max-width: 21.87em) {
    .dictionary {
      grid-template-columns: 1fr; } }
  .dictionary__toolbox {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid var(--color-grey-light);
    border-collapse: collapse;
    border-bottom: none; }
    @media screen and (max-width: 21.87em) {
      .dictionary__toolbox {
        flex-direction: column;
        gap: 1em; } }
  .dictionary__from, .dictionary__to {
    position: relative;
    flex: 1; }
  .dictionary__language {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--color-grey-dark-2);
    cursor: pointer; }
    .dictionary__language:hover {
      background-color: var(--color-grey-light); }
  .dictionary__icon {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    stroke: var(--color-primary-dark);
    cursor: pointer;
    transition: all 0.2s; }
    .dictionary__icon:hover {
      background-color: var(--color-grey-dark); }
    .dictionary__icon path {
      pointer-events: none; }
  .dictionary__translate {
    padding: 1rem 2.5rem;
    border: none;
    border: 1px solid var(--color-grey-light);
    word-break: break-all; }
    @media screen and (max-width: 21.87em) {
      .dictionary__translate {
        min-height: 15rem; } }
    .dictionary__translate:focus {
      outline: none; }
  .dictionary__translated {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 15rem;
    background-color: var(--color-grey-light-2); }
    .dictionary__translated p {
      pointer-events: none;
      padding: 1rem 2.5rem; }
  .dictionary__explaination {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.5rem;
    color: var(--color-grey-dark-4);
    font-size: 1.5rem; }
    .dictionary__explaination span {
      color: var(--color-primary-dark); }
    .dictionary__explaination blockquote {
      position: relative;
      padding: 0 3.5rem; }
      .dictionary__explaination blockquote::before {
        content: "\201c";
        font-family: sans-serif;
        font-size: 6rem;
        position: absolute;
        top: -15px;
        left: 1px; }

.dictionary__from--active,
.dictionary__to--active {
  color: var(--color-primary-dark); }

.line {
  position: absolute;
  background-color: var(--color-primary-dark);
  height: 0.35rem;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease; }

.btn {
  grid-column: 1 / span 1;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  border-radius: 20px;
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    color: var(--color-grey-light-2);
    transform: translateY(-0.3rem);
    background-color: var(--color-primary);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1); }
  .btn:active {
    transform: translateY(0.1rem); }

.toolbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem; }
  .toolbox__icon {
    width: 4rem;
    height: 4rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: all 0.2s; }
    .toolbox__icon--heart {
      fill: var(--color-grey-dark-4); }
      .toolbox__icon--heart:hover {
        fill: #f783ac; }
    .toolbox__icon--share {
      fill: var(--color-grey-dark-4); }
      .toolbox__icon--share:hover {
        fill: orange; }
    .toolbox__icon--clipboard {
      border-radius: 3rem;
      position: relative; }
      .toolbox__icon--clipboard:hover {
        background-color: var(--color-grey-dark); }
      .toolbox__icon--clipboard::after {
        content: "Add to clipboard";
        display: inline-block;
        position: absolute; }

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: opacity 0.24s; }
  .modal__form {
    position: relative;
    background-color: #fff;
    padding: 5rem 3rem;
    width: 40rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.13); }
  .modal__close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    fill: var(--color-grey-dark-4);
    cursor: pointer;
    transition: all 0.2s; }
    .modal__close path {
      pointer-events: none; }
  .modal__title {
    grid-column: 1 / -1;
    font-size: 3rem;
    margin-bottom: 4.5rem;
    color: var(--color-grey-dark-3); }
  .modal__example {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: var(--color-primary-light-2);
    border-bottom: 2px solid transparent;
    font-size: 1.6rem;
    transition: all 0.2s; }
    .modal__example:focus {
      outline: none;
      border-bottom: 2px solid var(--color-primary-dark); }
    .modal__example + label {
      top: -22px !important; }
  .modal__select {
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-grey-dark-4);
    width: 40%;
    border: none;
    border-bottom: 1px solid var(--color-primary-dark);
    cursor: pointer; }
    .modal__select:focus {
      outline: 1px solid var(--color-primary-dark);
      border: none; }
  .modal__submit {
    margin-top: 1.5rem;
    margin-bottom: 3rem; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1;
  transition: opacity 0.24s, background-color 0.24s; }

.form__group {
  position: relative; }
  .form__group:not(:last-child) {
    margin-bottom: 3rem; }
  .form__group input {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    font-size: 1.6rem;
    color: var(--color-grey-dark-3);
    font-family: inherit;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: var(--color-primary-light-2);
    transition: all 0.2s; }
    .form__group input:focus {
      outline: none;
      border-bottom: 2px solid var(--color-primary-dark); }
      .form__group input:focus:invalid {
        border-bottom: 2px solid orange; }
  .form__group label {
    position: absolute;
    top: -15px;
    left: 0px;
    display: inline-block;
    background-color: #fff;
    font-size: 1.4rem;
    color: var(--color-grey-dark-4); }

.form__select {
  margin-bottom: 4rem;
  margin-top: -2rem; }
  .form__select label {
    font-size: 1.4rem;
    color: var(--color-grey-dark-4);
    display: inline-block;
    margin-right: 2rem; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.btn-dictionary {
  margin-top: 4rem; }

.btn-hidden {
  display: none;
  opacity: 0; }
